g.axis path,
g.axis line{
	fill:none;
	stroke:black;
	shape-rendering:crispEdges;
}
g.axis text{
	font-family: sans-serif;
	font-size: :11px;
}

p{
	background-color: #c8ffb6;
	border-radius: 10px 10px 10px 10px;
}